<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/exam/css/nav.css">              <!--导航样式-->
    <link rel="stylesheet" href="/static/exam/icon-font/iconfont.css">  <!--字体图标-->
    <link rel="stylesheet" href="/static/exam/font/iconfont.css">
    <link rel="stylesheet" href="/static/exam/css/frame.css">            <!--框架样式-->

</head>
<body>
    <div class="container clear" >
        <div class="nav left fl">
            <div class="nav-top">
                <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="/static/exam/images/mini.png" ></div>
            </div>
            <ul class="nav-ul">
            </ul>
        </div>
        <div class="fl right">
            <header >
                <div class="top user">
                    用户名：{{ user_info.username | safe }}
                </div>
            </header>
            <section class="content" id="content"></section>
        </div>
    </div>
    <script type="text/javascript">
        var userRole={{ userRole |safe }};
    </script>
    <script type="text/javascript" src="/static/exam/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/exam/js/nav.js"></script>
    <script type="text/javascript" src="/static/exam/js/index.js"></script>
</body>
</html>


